<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Starts date:</strong>
    <%= event.starts_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Google event:</strong>
    <%= event.google_event_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= event.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= event.country %>
  </p>

</div>
